@using System.Web.Mvc
@using Microsoft.Web.Mvc.Html
@helper NavPillForDapper(WebViewPage page)
{
    <ul class="nav nav-pills">
        @{
            var actionName = Path.GetFileNameWithoutExtension(page.VirtualPath);
             
         }
        <li class="@(actionName=="Index"?"active":"")">
            @page.Html.ActionLink("Posts Home","Index","DapperPosts")
        </li>
        
        <li class="@(actionName=="Search"?"active":"")">
            <a href="@page.Url.Action("Search","DapperPosts",routeValues:null)">Search</a>   
        </li>
        <li class="@(actionName=="Add"?"active":"")">
            <a href="@page.Url.Action("Add","DapperPosts",routeValues:null)">Add</a>
        </li>
    </ul>
}

@helper NavPillForPetaPoco(WebViewPage page)
{
    <ul class="nav nav-pills">
        @{
            var actionName = Path.GetFileNameWithoutExtension(page.VirtualPath);
             
         }
        <li class="@(actionName=="Index"?"active":"")">
            @page.Html.ActionLink("Posts Home","Index","PetaPocoPosts")
        </li>
        
        <li class="@(actionName=="Search"?"active":"")">
            <a href="@page.Url.Action("Search","PetaPocoPosts",routeValues:null)">Search</a>   
        </li>
        <li class="@(actionName=="Add"?"active":"")">
            <a href="@page.Url.Action("Add","PetaPocoPosts",routeValues:null)">Add</a>
        </li>
         <li class="@(actionName=="Query"?"active":"")">
            <a href="@page.Url.Action("Query","PetaPocoPosts",routeValues:null)">Query</a>
        </li>
    </ul>
}