@using System.Linq.Expressions
@using System.Web.Mvc
@using Microsoft.Web.Mvc.Html
@helper VenueNavPill(WebViewPage page)
{
    <ul class="nav nav-pills">
        @{
            var actionName = Path.GetFileNameWithoutExtension(page.VirtualPath);
             
         }
        <li class="@(actionName=="Index"?"active":"")">
            @page.Html.ActionLink("Posts Home","Index","DapperPosts")
        </li>
        
        <li class="@(actionName=="Search"?"active":"")">
            <a href="@page.Url.Action("Search","DapperPosts",routeValues:null)">Search</a>   
        </li>
        <li class="@(actionName=="Add"?"active":"")">
            <a href="@page.Url.Action("Add","DapperPosts",routeValues:null)">Add</a>
        </li>
    </ul>
}
