@using MvcContrib.UI.Grid
@using PagedList.Mvc
@model MicroStackOverflow.Models.PostsSearchModel 
<div>
    <hgroup class="title">
        <h2>Search posts</h2>
    </hgroup>
    @{
        var controller = ViewContext.RouteData.GetRequiredString("controller");
    }
    @using (Html.BeginForm(null, null, FormMethod.Get, new {@class = "well form-horizontal", id = "PostSearchForm"}))
    {
        @Html.ValidationSummary(true)
        <div class="row-fluid">
            <div class="span6">
                <div class="control-group">
                    @Html.LabelFor(m=>m.Body,new{@class="control-label"})
                    <div class="controls">
                        @Html.EditorFor(m=>m.Body)
                    </div>
                </div>
            </div>
            <div class="span6">
                <div class="control-group">
                    @Html.LabelFor(m=>m.Tags,new{@class="control-label"})
                    <div class="controls">
                        @Html.EditorFor(m=>m.Tags)
                    </div>
                </div>
            </div>
        </div>
       
        <div class="row-fluid">
            <div class="span6">
                <div class="control-group">
                    <div class="controls">
                        <input type="submit" class="btn btn-primary" value="Search"/>
                    </div>
                </div>
            </div>
        </div>
    }
    @if(Model !=null &&  Model.Posts.Count > 0)
    {
         
        
        <div class="row-fluid">
            
            @Html.PagedListPager(Model.Posts, page => Url.Action("Search",controller,
                                                                 new { page = page,Body=Model.Body,Tags=Model.Tags}) )  
            @Html.Grid(Model.Posts).Columns(column =>
                {
                    column.For(x => x.Title);
                    column.For(x => x.Score);
                    column.For(x => x.ViewCount);
                    column.For(x => x.FavoriteCount);
                    column.For(x => x.CommentCount);
                    column.For(x => x.AnswerCount);
                    column.For(x => x.CreationDate);
                    column.For(x => Html.ActionLink("Edit","Edit",controller,new{id=x.Id},null));
                 

                }).Attributes(@class=>"table table-bordered table-striped table-condensed table-hover") 
        </div>
    }
</div>